#List

In [41]:
l=[100,53,200,79,20,89,1007]
for x in l:
    if x%2==0:
        print(x)

100
200
20

In [7]:
even=[]
l=[100,53,200,79,20,89,1007]
for x in l:
    if x%2==0:
        even.append(x)
print(even)

[100, 200, 20]

In [17]:
l=[1,2,3,4,5,6,7,8]
for x in l:
    if x%2!=0:
        print(x)

1
3
5
7

In [19]:
odd=[]
l=[1,45,6,2,34,90,99]
for x in l:
    if x%2!=0:
        odd.append(x)
print(odd)

[1, 45, 99]

In [19]:
list=[1,2,3,4,5,6,7,8,9]
print(list[2:4])
print(list[:])
print(list[0:1])
print(list[1])
print(list[-2])

[3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1]
2
8

In [15]:
a=[2,345,66,10]
for x in range(len(a)):
    print(a[x])

2
345
66
10

In [23]:
n_l=[[1,2],[2,3]]
print(n_l[1])

[2, 3]

In [75]:
fruits=[["apple",1],["mango",2],["guava",3],["cherry",4]]
print(fruits)
fruits.insert(3,["apple",4])
fruits
fruits.remove(["mango",2])
fruits

[['apple', 1], ['mango', 2], ['guava', 3], ['cherry', 4]]

[['apple', 1], ['guava', 3], ['apple', 4], ['cherry', 4]]

In [37]:
movies=[["baazigar",10],["ddlj",5],["raes",7],["kkhh",9],["devara",20]]
movies.append(["kalki",15])
for each in movies:
    if each[0]=="ddlj":
        each[1]=10
print(movies)

movies.append(["baazigar",15])
total=[]
for each_item in movies:
    if each_item[0]=="baazigar":
        total.append(each_item[1])
print(total)
print(sum(total))

[['baazigar', 10], ['ddlj', 10], ['raes', 7], ['kkhh', 9], ['devara', 20], ['kalki', 15]]
[10, 15]
25

##tuple

In [55]:
a=(1,2,34,67,9.99,"harika",0-7j)
print(a)
print(type(a))

(1, 2, 34, 67, 9.99, 'harika', -7j)
<class 'tuple'>

In [57]:
tup1=(1,35,699,2005)
tup1.count(35)

1

#Dictionary

In [1]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
d1={1:"a", 2:"b", 3:"c", 4:"d", 5:"e"}
print(d1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [30]:
scores={"Virat":90, "Rohit":100, "Siraj":50, "Hardik":9, "Rahul":70, "Gill":20, "Jadeja":30}
scores["Ashwin"]=15
scores.update({"Jadeja":40, "Rahane":45})
scores

{'Virat': 90,
 'Rohit': 100,
 'Siraj': 50,
 'Hardik': 9,
 'Rahul': 70,
 'Gill': 20,
 'Jadeja': 40,
 'Ashwin': 15,
 'Rahane': 45}

In [32]:
scores.setdefault("Rahul",68)
scores

{'Virat': 90,
 'Rohit': 100,
 'Siraj': 50,
 'Hardik': 9,
 'Rahul': 70,
 'Gill': 20,
 'Jadeja': 40,
 'Ashwin': 15,
 'Rahane': 45}

In [40]:
scores.setdefault("Pujara",50)
scores

{'Virat': 90,
 'Rohit': 100,
 'Siraj': 50,
 'Hardik': 9,
 'Rahul': 70,
 'Gill': 20,
 'Jadeja': 40,
 'Ashwin': 15,
 'Rahane': 45,
 'Pujara': 50}

In [44]:
scores.popitem()
scores

{'Virat': 90,
 'Rohit': 100,
 'Siraj': 50,
 'Hardik': 9,
 'Rahul': 70,
 'Gill': 20,
 'Jadeja': 40,
 'Ashwin': 15,
 'Rahane': 45}

In [46]:
scores.pop("Gill")
scores

{'Virat': 90,
 'Rohit': 100,
 'Siraj': 50,
 'Hardik': 9,
 'Rahul': 70,
 'Jadeja': 40,
 'Ashwin': 15,
 'Rahane': 45}

In [52]:
scores.get("Virat")

90

In [74]:
for k in scores.keys():
    if k=="Hardik":
        scores[k]=19
scores

{'Virat': 90,
 'Rohit': 100,
 'Siraj': 50,
 'Hardik': 19,
 'Rahul': 70,
 'Jadeja': 40,
 'Ashwin': 15,
 'Rahane': 45}

In [76]:
scores_list=[]
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score: ",sum(scores_list))

[90, 100, 50, 19, 70, 40, 15, 45]
Total Score:  429

In [56]:
l1=["srk","bhavitha","harika","rishi"]
dict=dict.fromkeys(l1,10)
dict

{'srk': 10, 'bhavitha': 10, 'harika': 10, 'rishi': 10}

#Set

In [1]:
list1=[1,2,3,4,5]
s1=set(list1)
print(s1)
print(type(s1))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [23]:
s1={1,2,3,0}
s2={1,27,3,247}
print("Intersection: ",s1 & s2)
print("Difference: ",s1 - s2)
s1.symmetric_difference(s2)

Intersection:  {1, 3}
Difference:  {0, 2}

{0, 2, 27, 247}

In [25]:
str1="Welcome to aiml class"
print(str1)
str2="We started with python"
print(str2)
str3='''This is an awesome class'''
print(str3)

Welcome to aiml class
We started with python
This is an awesome class

In [33]:
reviews=["this product", "is amazing"]
join_string=' '.join(reviews)
join_string

'this product is amazing'

In [41]:
str="   Hello, how are you?"
str.strip()

'Hello, how are you?'

In [43]:
str.lower()

'   hello, how are you?'

#Examples

In [45]:
sales_data={
    "productId":[1,2,3,4,5],
    "productName":["laptop","mouse","desk","cable","webcam"],
    "stockAvailable":[12,33,44,67,19]
}
for k,v in sales_data.items():
    print(k,set(v))
    print('/n')

productId {1, 2, 3, 4, 5}
/n
productName {'cable', 'webcam', 'desk', 'laptop', 'mouse'}
/n
stockAvailable {33, 67, 12, 44, 19}
/n

In [47]:
d1={"Harika":100, "Bhavitha":92, "Rishitha":99}
for k in d1.keys():
    print(k)

Harika
Bhavitha
Rishitha